<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>welcome user</h2>
    <ul>
        <li style="list-style-type: none; "> <a style="text-decoration: none;" href="user/profile">view profile</a></li>
        <li style="list-style-type: none; "> <a style="text-decoration: none;" href="user/signin">Sign In</a></li>
        <li style="list-style-type: none; "> <a style="text-decoration: none;" href="user/logout">Log out</a></li>
    </ul>
   
    
</body>
</html>